<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>爬虫</title>
    <link href="../js/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <link href="../css/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="../css/custom/commodity-list.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <div class="jumbotron well">
        <h1>什么值得买爬虫</h1>
        <p>这是一个基于什么值得买的爬虫站点，为了方便您的剁手</p>
    </div>
    <div>
        <input id="search-title" type="text" placeholder="输入关键字">
        <button class="btn btn-default" type="button" id="search-btn"><span class="glyphicon glyphicon-search"></span> 搜索</button>
    </div>
    <div class="commodity-list">
        <div v-for="item in items">
            <div class="commodity">
                <div class="commodity-img" style="position: relative">
                    <img class='add-lazyload' :data-src="item.picUrl"/>
                    <span class="channel-title">{{item.channelTitle}}</span>
                    <span class="referral-date"  v-if="!config.pcWeb">{{item.referralDate|timeHandler}}</span>
                </div>
                <div class="commodity-panel">
                    <a class="commodity-title" :href="item.articleId|hrefHandler">{{item.title}}</a>
                    <div class="commodity-info">
                        <span class="info-title" v-if="item.categories">目录:</span>{{item.categories}}
                        <span class="info-title" v-if="item.tags">标签:</span>{{item.tags}}
                        <span class="price-info">{{item.priceString}}</span>
                    </div>
                    <div class="commodity-content">{{item.content}}</div>
                    <div class="commodity-comment">
                        <div class="btn-group">
                            <a class="btn btn-info" v-if="item.worthy!=0"><span class="glyphicon glyphicon-thumbs-up"></span> {{item.worthy}}</a>
                            <a class="btn btn-info" v-if="item.unworthy!=0"><span class="glyphicon glyphicon-thumbs-down"></span> {{item.unworthy}}</a>
                            <a class="btn btn-info" v-if="item.collection!=0"><span class="glyphicon glyphicon-star"></span> {{item.collection}}</a>
                            <a class="btn btn-info" v-if="item.comment!=0"><span class="glyphicon glyphicon-comment"></span> {{item.comment}}</a>
                            <a class="btn btn-info" v-if="config.pcWeb"><span class="glyphicon glyphicon-tag"></span> {{item.category}}</a>
                            <a class="btn btn-info" v-if="config.pcWeb"><span class="glyphicon glyphicon-time"></span> {{item.referralDate|timeHandler}}</a>
                        </div>
                        <a class="btn btn-danger pull-right" :href="item.shoppingUrl" target="_blank" v-if="config.pcWeb"><span class="glyphicon glyphicon-shopping-cart"></span>剁手</a>
                    </div>
                </div>
            </div>
            <hr/>
        </div>
    </div>
    <div id="pagination">
        <span v-if="itemCount!=0">共{{itemCount}}条记录,当前为第{{startIndex}}条到第{{endIndex}}条</span>
        <span v-else>未找到记录</span>
        <ul class="pagination" style="margin: 0;" v-if="itemCount!=0">
            <li v-if="currentPageNo!=1"><a href="javascript:void(0);" @click="jumpPage(currentPageNo-1)">&laquo;</a></li>
            <li v-for="page in pageList" v-bind:class="{ active: page===currentPageNo }"><a href="javascript:void(0);" @click="jumpPage(page)">{{page}}</a></li>
            <li v-if="currentPageNo!=pageCount"><a href="javascript:void(0);" @click="jumpPage(currentPageNo+1)">&raquo;</a></li>
            <li><input type="text" v-model.number="jumpPageNo" placeholder="跳转" v-on:keyup.13="submit"></li>
        </ul>
    </div>
</div>
<script src="../js/lazysizes.js"  async=""></script>
<script src="../js/jquery-3.1.1.js"></script>
<script src="../js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="../js/bootstrap-table-develop/dist/bootstrap-table.js"></script>
<script src="../js/bootstrap-table-develop/dist/locale/bootstrap-table-zh-CN.js"></script>
<script src="../js/moment.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/custom/commodity-list.js"></script>
</body>
</html>