<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../js/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <link href="../css/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="../css/custom/commodity-list.css" rel="stylesheet">
    <link href="../js/bootstrap-table-develop/dist/bootstrap-table.css" rel="stylesheet">
    <link href="../js/sweetalert-master/dist/sweetalert.css" rel="stylesheet">
    <link href="../css/custom/common.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #smzdm-frame {
            position: fixed;
            left: 0;
            width: 100%;
            bottom: 0;
            background-color: #fff;
            border: 0;
            height: 0;
            transition: all 1s;
            opacity: 0.5;
            z-index: 1051;
            overflow: hidden;
        }

        #smzdm-frame.on-show {
            height: 100%;
            opacity: 1;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron well">
                <h1>什么值得买爬虫</h1>
                <p>这是一个基于什么值得买的爬虫站点，为了方便您的剁手</p>
            </div>
        </div>
        <div class="col-md-12">
            <div id="toolbar">
                <button id="add-item" class="btn btn-default btn-sm" data-toggle="modal" href="#filter-modal">
                    <i class="glyphicon glyphicon-plus"></i> 新增
                </button>
                <button id="delete-item" class="btn btn-danger btn-sm" disabled>
                    <i class="glyphicon glyphicon-remove"></i> 删除
                </button>
                <button id="operate-item" class="btn btn-info btn-sm" disabled data-toggle="modal" href="#filter-modal">
                    <i class="glyphicon glyphicon-edit"></i> 修改
                </button>
            </div>
            <table id="filter-table"></table>
        </div>
    </div>
</div>
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 480px">
        <div class="modal-content" id="filter-info">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{message}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <span class="col-sm-3 control-label"><span style="margin-right: 27px;">名</span><span>称</span></span>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" v-model="name" placeholder="起个名字呗,比如航空母舰">
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-3 control-label">标题匹配</span>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" v-model="titleMatch" placeholder="逗号分割">
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-3 control-label">标题排除</span>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" v-model="titleUnmatch" placeholder="逗号分割">
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-3 control-label">目录匹配</span>
                        <div class="col-sm-9">
                            <input type="text" class="form-control cursor-pointer" v-model="categoryMatchObj.titles" @click="match" readonly >
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-3 control-label">目录排除</span>
                        <div class="col-sm-9">
                            <input type="text" class="form-control cursor-pointer" v-model="categoryUnmatchObj.titles" @click="unMatch" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-3 control-label">评论情况</span>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" v-model.number="ratingCount" placeholder="值、评论、收藏累加">
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-3 control-label">点赞比例</span>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" v-model.number="worthPercent" placeholder="整数">
                                <div class="input-group-addon">%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" @click="submit">提交更改</button>
            </div>
        </div>
    </div>
</div>
<iframe id='smzdm-frame' src="http://www.smzdm.com/fenlei/"></iframe>
</body>
<script src="../js/lazysizes.js" async=""></script>
<script src="../js/jquery-3.1.1.js"></script>
<script src='../js/custom/global-config.js'></script>
<script src='../js/js.cookie.js'></script>
<script src="../js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="../js/bootstrap-table-develop/dist/bootstrap-table.js"></script>
<script src="../js/bootstrap-table-develop/dist/locale/bootstrap-table-zh-CN.js"></script>
<script src="../js/sweetalert-master/dist/sweetalert-dev.js"></script>
<script src="../js/moment.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/custom/filter-list.js"></script>
</html>