.search-tooltip{
    display: flex;
}

.search-tooltip > button{
    margin-left: 5px;
}

.search-tooltip #search-title{
    flex: 0 1 150px;
}

.commodity {
    display: flex;
    margin-top: 10px;
}

.mobile-adupt .commodity {
    flex-direction: column;
}

.mobile-adupt .commodity .commodity-comment {
    position: static;
}

.commodity-img span {
    position: absolute;
    font-size: 14px;
}

.channel-title {
    top: 0;
    left: -5px;
    background-color: #555;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    opacity: 0.8
}

.referral-date {
    bottom: 5px;
    right: -5px;
}

.commodity .commodity-img {
    flex-basis: 210px;
    text-align: center;
}

.commodity-img img {
    min-height: 180px;
    max-width: 200px;
}

.mobile-adupt .commodity-img img {
    min-height: 0;
}

.commodity .commodity-panel {
    margin-left: 10px;
    position: relative;
    flex: 1;
}

.commodity .commodity-title {
    font-size: 20px;
    text-align: center;
}

.commodity .commodity-info {
    color: #808080;
}

.commodity .info-title {
    color: black;
}

.commodity .price-info {
    color: #f04848;
    font-weight: 500
}

.commodity .commodity-info, .commodity .commodity-content {
    font-size: 16px;
    margin-top: 10px
}

.commodity .commodity-comment {
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
}

.commodity hr {
    margin: 10px 0
}

input:focus, .btn:focus, .btn > :focus {
    outline: 0 !important;
}

.mobile-adupt #pagination {
    flex-direction: column;
    align-items: center;
}

.mobile-adupt #pagination span {
    margin-bottom: 8px;
}

#pagination {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
}

#pagination span {
    font-size: 16px;
}

.pagination > li > input {
    width: 55px;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    position: relative;
    border: 1px solid #ddd;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, .075);
    line-height: 1.42857143;
}

.pagination > li > input:hover {
    background-color: #eee;
}

.pagination > li:last-child > input {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.fade-alert {
    overflow: hidden;
    height: 0;
    -webkit-transition: all linear .4s;
    transition: all linear .4s;
}

.fade-alert.on-alert {
    height: 52px;
}

.input-box {
    margin: 15px 10px;
    position: relative
}

.input-box .input-placeholder {
    position: absolute;
    color: #999;
    top: 8px;
    left: 11px;
    background-color: #fff;
    padding: 0 3px;
    -webkit-transition: all linear .2s;
    transition: all linear .2s;
}

.input-box.focus-on .input-placeholder {
    color: #66afe9;
    top: -10px;
}