#search-title {
    width: 200px;
    margin-right: 10px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.commodity {
    display: flex;
    margin-top: 10px;
}

.mobile-adupt .commodity {
    flex-direction: column;
}

.commodity .commodity-img {
    flex-basis: 210px;
    text-align: center;
}

.commodity .commodity-panel {
    margin-left: 10px;
    position: relative;
    flex: 1;
}

.commodity .commodity-title {
    font-size: 20px;
    text-align: center;
}

.commodity .commodity-info {
    color: #808080;
}

.commodity .info-title {
    color: black;
}

.commodity .commodity-info, .commodity .commodity-content {
    font-size: 16px;
    margin-top: 10px
}

.commodity .commodity-comment {
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
}

.commodity hr {
    margin: 10px 0
}

input:focus, .btn:focus, .btn > :focus {
    outline: 0 !important;
}

.pagination > li > input {
    width: 55px;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    position: relative;
    border: 1px solid #ddd;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, .075);
    line-height: 1.42857143;
}

.pagination > li > input:hover {
    background-color: #eee;
}

.pagination > li:last-child > input {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#pagination {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
}

#pagination span {
    font-size: 16px;
}