<?xml version="1.0" encoding="UTF-8"?>
<!-- status=debug 可以查看log4j的装配过程 -->
<configuration status="off" monitorInterval="3000">
    <appenders>
        <!-- 定义控制台输出 -->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%date{HH:mm:ss} %level  [%c] - %msg%n" />
        </Console>
        <!-- 程序员调试日志 -->
        <RollingRandomAccessFile name="DebugLog" fileName="${web:rootDir}/debug.log" filePattern="${web:rootDir}/%d{yyyy-MM-dd}.log">
            <PatternLayout charset="utf-8" pattern="%date{HH:mm:ss.SSS} %level[%c:%line] - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingRandomAccessFile>
        <file name="ErrorLog" fileName="${web:rootDir}/Error.log" append="true">
            <PatternLayout charset="utf-8" pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level[%c:%line] - %msg%n" />
            <Filters>
                <!-- 输出日志级别为 error 的日志 -->
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </file>
    </appenders>
    <loggers>
        <!-- 3rdparty Loggers -->
        <logger name="org.springframework" level="info">
        </logger>
        <logger name="org.springframework" level="debug" additivity="false">
            <appender-ref ref="DebugLog" />
        </logger>
        <logger name="org.mybatis" level="debug"/>
        <logger name="com.smzdm"/>

        <!-- Root Logger -->
        <root level="DEBUG">
            <appender-ref ref="DebugLog" />
            <appender-ref ref="Console" />
            <appender-ref ref="ErrorLog" />
        </root>
    </loggers>
</configuration>