<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smzdm.mapper.CommodityMapper" >
  <resultMap id="BaseResultMap" type="com.smzdm.model.Commodity" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="article_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="discovery_flag" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="tags" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="info_title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="brand" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="price_string" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="price_number" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="top_category_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="categories" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="referral_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pic_url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="info_url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="channel_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="mall" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="mall_url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="shopping_url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="referral_date" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime" />
      <arg column="time_sort" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="create_date" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.smzdm.model.Commodity" >
    insert into commodity (id, article_id, discovery_flag, title, content,
      tags, info_title, brand, 
      price_string, price_number, top_category_id,categories,referral_name,
      pic_url, info_url, channel_id, 
      mall, mall_url, shopping_url, 
      referral_date, time_sort, create_date)
    values (#{id,jdbcType=BIGINT}, #{articleId,jdbcType=BIGINT}, #{discoveryFlag,jdbcType=INTEGER},#{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
      #{tags,jdbcType=VARCHAR}, #{infoTitle,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, 
      #{priceString,jdbcType=VARCHAR}, #{priceNumber,jdbcType=BIGINT}, #{topCategoryId,jdbcType=INTEGER}, #{categories,jdbcType=VARCHAR},#{referralName,jdbcType=VARCHAR},
      #{picUrl,jdbcType=VARCHAR}, #{infoUrl,jdbcType=VARCHAR}, #{channelId,jdbcType=INTEGER}, 
      #{mall,jdbcType=VARCHAR}, #{mallUrl,jdbcType=VARCHAR}, #{shoppingUrl,jdbcType=VARCHAR}, 
      #{referralDate,jdbcType=TIMESTAMP}, #{timeSort,jdbcType=BIGINT},#{createDate,jdbcType=TIMESTAMP})
  </insert>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, article_id, discovery_flag, title, content, tags, info_title, brand, price_string, price_number, top_category_id,categories,referral_name,
    pic_url, info_url, channel_id, mall, mall_url, shopping_url, referral_date, time_sort,create_date
    from commodity
    where id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insertList" parameterType="list">
    insert into commodity (id, article_id, discovery_flag, title, content,
      tags, info_title, brand,
      price_string, price_number, top_category_id,categories,referral_name,
      pic_url, info_url, channel_id,
      mall, mall_url, shopping_url,
      referral_date, time_sort,create_date)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.articleId,jdbcType=BIGINT}, #{item.discoveryFlag,jdbcType=INTEGER}, #{item.title,jdbcType=VARCHAR}, #{item.content,jdbcType=VARCHAR}, #{item.tags,jdbcType=VARCHAR}, #{item.infoTitle,jdbcType=VARCHAR}, #{item.brand,jdbcType=VARCHAR}, #{item.priceString,jdbcType=VARCHAR}, #{item.priceNumber,jdbcType=BIGINT},#{item.topCategoryId,jdbcType=INTEGER},#{item.categories,jdbcType=VARCHAR}, #{item.referralName,jdbcType=VARCHAR}, #{item.picUrl,jdbcType=VARCHAR}, #{item.infoUrl,jdbcType=VARCHAR}, #{item.channelId,jdbcType=INTEGER}, #{item.mall,jdbcType=VARCHAR}, #{item.mallUrl,jdbcType=VARCHAR}, #{item.shoppingUrl,jdbcType=VARCHAR}, #{item.referralDate,jdbcType=TIMESTAMP}, #{item.timeSort,jdbcType=BIGINT},#{item.createDate,jdbcType=TIMESTAMP})
    </foreach>
  </insert>

  <select id="queryCommodity" parameterType="com.smzdm.model.CommodityParams" resultType="Map">
     SELECT a.id, a.article_id articleId,a.title, a.content, a.price_string priceString, a.mall, a.referral_date referralDate, a.time_sort timeSort, b.title category ,CONCAT_WS('/',info.worthy,info.unworthy,info.comment,info.collection) comment FROM commodity_last_info info,commodity a ,category b
    <where>
      info.article_id = a.article_id AND  a.top_category_id = b.id
     <if test="search!=null and search!=''">
      AND a.title LIKE CONCAT(CONCAT('%', #{search, jdbcType=VARCHAR}),'%')
     </if>
    </where>
    order by id desc
    <choose>
      <when test="offset!=null and limit!=null">
        limit #{offset},#{limit}
      </when>
      <otherwise>
        limit 25
      </otherwise>
    </choose>
  </select>
<select id="getCommodityCount" parameterType="com.smzdm.model.CommodityParams" resultType="int">
  SELECT COUNT(*) FROM commodity
  <where>
    <if test="search!=null and search!=''">
      title LIKE CONCAT(CONCAT('%', #{search, jdbcType=VARCHAR}),'%')
    </if>
  </where>
</select>
<delete id="deleteDupl" parameterType="java.time.LocalDateTime">
DELETE FROM smzdm_commodity.commodity WHERE  article_id IN
(SELECT * FROM (select article_id from smzdm_commodity.commodity  where create_date >#{time} GROUP BY article_id HAVING  count(article_id)>1) as temp) and discovery_flag =1
</delete>

</mapper>